.checkbox-newsletter-label, .checkbox-agree-label {
  position: relative;
  margin-left: 36px;
  margin-bottom: 8px;

  .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: all 0.3s;
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;

    &::after {
      content: "";
      text-indent: 29px;
      white-space: nowrap;
      position: absolute;
      transition: all 0.3s;
      opacity: 0;
      width: 7px;
      height: 4px;
      border-radius: 2px;
      background: transparent;
      border: 2px solid transparent;
      border-bottom-color: #fff;
      border-left-color: #fff;
      transform: rotate(-55deg);
      left: 21%;
      top: 19%;
    }
  }
}

.formData[data-error-visible="true"] .checkbox-agree-label .checkbox-icon {
  border: 2px solid #e54858;
  color: red;
}

.formData[data-error-visible="true"] .checkbox-agree-label {
  color: red;
}

.formData[data-error-visible="true"] .checkbox-icon {
  border: 2px solid #e54858;
  color: red;
}

.formData[data-error-visible="true"] .checkbox-input.checkbox-icon {
  border: 2px solid #e54858;
  color: red;
}

.checkbox-input {
  display: none;

  &:checked + .checkbox-newsletter-label .checkbox-icon::after {
    opacity: 1;
  }

  &:checked + .radio-checkbox-label .checkbox-icon::after {
    opacity: 1;
  }

  &:checked + .checkbox-agree-label .checkbox-icon::after {
    opacity: 1;
  }

  &:checked + .checkbox-agree-label .checkbox-icon {
    background: #279e7a;
  }

  &:checked + .checkbox-newsletter-label .checkbox-icon {
    background: #279e7a;
  }
}
