.modal-body {
  padding: 15px 8%;
  margin: 5px auto;

  .form {
    display: block;
  }

  label {
    font-family: var(--font-default);
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
  }

  .text-label {
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 0;
  }

  input {
    padding: 8px;
    outline: none;
  }

  .text-control {
    margin: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 18px;
    height: 48px;
  }

  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    animation: display-error 800ms;
  }

  .formData[data-error]:nth-child(5n)::after {
    line-height: 1;
  }

  .formData[data-error]:nth-of-type(6n)::after {
    margin-left: 20px;
  }

  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
    color: red;
  }
}

@keyframes display-error {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
